@media screen and (max-width: 480px) {
    #wrap {
        display: none;
    }

    #wrap_m {
        display: block;
        width: 100%;
    }

    #wrap_m>section {
        height: 750px;
    }

    /* 메인 */

    #main_m {
        width: 100%;
    }

    #header_m {
        width: 100%;
        height: 100px;
        background-color: black;
    }

    #header_m .logo {
        float: left;
        color: #fff;
        width: 100px;
        height: 100px;
        font-size: 30px;        
        line-height: 100px;
        margin-left: 180px;
    }

    #header_m .menu {
        float: right;
        width: 100px;
        height: 100px;        
        padding: 40px 0 0 30px;
        box-sizing: border-box;
    }

    #header_m .menu>div {
        width: 30px;
        height: 25px;
    }

    #header_m .menu>div>div {
        margin-bottom: 3px;
        width: 30px;
        height: 5px;
        background-color: #fff;
    }

    #main_m_txt {
        width: 99%;
        height: 600px;       
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border: 2px solid #000;        
    }
    #main_m_txt h2{
        font-size: 35px;
    }
    #main_m_txt p{
        font-size: 20px;
    }

    #profiles_m {
        width: 100%;
    }

    #profiles_m .profiles_h {
        width: 100%;
        height: 100px;        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #profiles_m .profiles_h div {
        width: 200px;
        height: 80px;
        border: 1px solid #000;
        text-align: center;
        line-height: 80px;
        font-size: 16px;
    }
    
    #contactme_m {
        width: 100%;
    }

    #contactme_m .contactme_h {
        width: 100%;
        height: 100px;        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #contactme_m .contactme_h div {
        width: 200px;
        height: 80px;
        border: 1px solid #000;
        text-align: center;
        line-height: 80px;
        font-size: 30px;
    }

    #contactme_m .contactme_b {
        width: 100%;
        height: 700px;        
        position: relative;
    }

    #form {
        position: absolute;
        top: 50px;
        left: 70px;
    }
    
        .field {
        margin-bottom: 20px;
        }
    
        .field label {
        display: block;
        font-size: 20px;
        color: #000;
        }
    
        .field input {
            display: block;
            min-width: 200px;
            line-height: 1.5;
            font-size: 14px;
        }
    
        .field:nth-child(3) input {
            display: block;
            min-width: 300px;
            height: 100px;
            line-height: 1.5;
            font-size: 14px;
            }
    
        input[type="submit"] {
        display: block;
        padding: 6px 30px;
        font-size: 20px;
        background-color: #000;
        color: #fff;
        border: none
        }
    

    #finish_m {
        width: 100%;
        font-size: 50px;        
        display: flex;
        justify-content: center;
        align-items: center;
    }
}