#wrap {
    width: 100%;
}

#wrap_m {
    display: none;
}

section {
    width: 100%;
    height: 1000px;
}

/* 메인영역 */

#main {
    width: 100%;
    height: 1000px;
    background: url(../images/beach.jpg) no-repeat 50% 0;
    background-size: 100%;    
}

#header {
    width: 100%;
    height: 100px;
    position: absolute;     
}

#header .logo {
    float: left;
    margin-left: 100px;
    width: 200px;
    height: 100px;    
    text-align: center;
    line-height: 100px;
}

#header .logo span {
    font-size: 40px;
    color: #222;
}

#header .nav {
    float: right;
    margin-right: 200px;
    width: 1000px;
    height: 100px;  
}

#header .nav_list {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .nav_list li {
    width: 12%;
    height: 50px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: #222;
    font-weight: 200;
}

#header .nav_list li.on {    
    font-weight: 900;
    color: red;
}

#main_txt {
    width: 1000px;
    height: 1000px;    
    padding: 400px 0 0 150px;
    box-sizing: border-box;
}

#main_txt h2 {
    font-size: 45px;
    position: relative;
}
#main_txt p {
    font-size: 24px;
    position: relative;    
}

/* 프로필 */

#profile {
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid #EDEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#profiletitle {   
    width: 300px;
    height: 120px;
    line-height: 120px;
    border: 2px solid #000;
    position: relative;    
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;   
}

#profiletitle h2 {
    font-size: 50px;
    font-weight: 400;
}
#profiletopbox{
    width: 1120px;
    height: 300px;
    position: relative;       
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
#profiletopbox ul{
    display: flex;
    justify-content: space-between;
}
#profiletopbox li{
    width: 350px;
    height: 300px;
    float: left;
    margin: 0 auto;    
    border: 1px solid #000;
    border-radius: 5px;
    overflow: hidden;
}
#profiletopbox .proh4{
    position: absolute;    
    z-index: 9999;
    left: 130px;
    font-size: 24px;
    color: #000;
    font-weight: 300;
}
#profiletopbox li h4{
    text-align: center;
    font-size: 24px;
    color: #000;
    font-weight: 300;
    height: 35px;
}
#profiletopbox .prospeechimg{
    width: 350px;
    height: 300px;
    opacity: 0.3;        
}
#profiletopbox li h9{    
    position: absolute;
    z-index: 9999;
    left:85px;
    top:105px;
    color: #000;
    font-size: 20px;
    padding: 10px;
    font-weight: 300;
}
#profiletopbox li h6{
    margin-left: 10px;
    font-weight: 200;
    color: #000;
    font-size: 20px;
    margin-top: 5px;    
}
#profiletopbox li p{
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 300;        
}
#profiletopbox .proshowbox{
    margin-top: 10px;    
    width: 350px;
    height: 265px;    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#profiletopbox .proshow{       
    width: 160px;
    height: 130px;                
}
#profiletopbox .proshow .proshowimg{
    width: 150px;
    height: 85px;        
}
#profiletopbox .proshow h5{
    font-size: 16px;
    color: #000;
    text-align: center;
    font-weight: 200;
}
#profiletxt01 {
    width: 1100px;
    height: 125px;
    position: relative;
    top: 0;    
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}

#profiletxt01 span {
    font-size: 24px;
}

#profiletxt02 {
    width: 1100px;
    height: 125px;
    position: relative;
    top: 0;
    margin: 0 auto;    
    border: 1px solid #000;
    display: flex;
    flex-direction: column;    
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;    
}

#profiletxt02 span {
    font-size: 24px;
}

/* 스킬 */

#skill {
    width: 100%;
    height: 100vh;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #EDEDED;
}

#skilltitle {   
    width: 300px;
    height: 120px;
    line-height: 120px;
    border: 2px solid #000;
    position: relative;    
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;   
}

#skilltitle h2 {
    font-size: 50px;
    font-weight: 400;
}

#percent {
    width: 1100px;
    height: 600px;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#percent > div {
    width: 100%;
    height: 90px;
   
}

#percent > div > div {
    float: left;
    width: 150px;
    text-align: center;
}

#percent > div > div span {
    font-size: 18px;
}

#percent > div .percentbox {
    width: 300px;
    height: 30px;
    border: 1px solid #000;    
    overflow: hidden;
}

#percent > div .percentbox > div {
    height: 30px;
    background-color: #000;
    position: relative;
}

#percent .percent01 .percentbox > div {
    width: 270px;
    left: -270px;
}

#percent .percent02 .percentbox > div {
    width: 150px;
    left: -150px;
}

#percent .percent03 .percentbox > div {
    width: 240px;
    left: -240px;
}

#percent .percent04 .percentbox > div {
    width: 90px;
    left: -90px;
}

#percent .percent05 .percentbox > div {
    width: 120px;
    left: -120px;
}

#percent > div h9{
    float: right;
    font-size: 15px;
    color: #fff;
    line-height: 30px;    
}

#percent > div p {
    float: right;
    font-size: 15px;
    font-weight: 300;    
}


/* 프로젝트 */

#project {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #EDEDED;
}

#projecttitle {   
    width: 300px;
    height: 120px;
    line-height: 120px;
    border: 2px solid #000;
    position: relative;    
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;   
}

#projecttitle h2 {
    font-size: 50px;
    font-weight: 400;    
}

#project_h {
    width: 1000px;
    height: 50px;
    display: flex;
    justify-content: center;
}

#project_h .project_h_list {
    width: 1000px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#project_h .project_h_list li {
    width: 250px;
    height: 30px;
    border: 1px solid #000;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

#project_h .project_h_list li.on {
    background-color: red;
    color: #fff;
}

#project_h .project_h_list li.on2 {
    background-color: #04fa4eef;
    color: #000;
}

#project_b {
    width: 1200px;
    height: 500px;    
    overflow: hidden;
}

#project_b .projectbox {
    width: 6000px;
    height: 500px;
    position: relative;
}

#project_b .projectbox > div {
    float: left;
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#project_b .monitor {     
    max-width: 500px;
}

#project_b .monitor_in {
    position: absolute;
    top: 71px;
    left: 159px;
    width: 465px;
    height: 230px;
    overflow: hidden;
}

#project_b .monitor_in ul {
    width: 465px;
    height: 230px;
    position: relative;
}

#project_b ul li:nth-child(1) {
    position: absolute;
    top: 0px;
    left: 0%;
}

#project_b .monitor_in ul li:nth-child(2) {
    position: absolute;
    top: 0px;
    left: 100%;
}
#project_b .monitor_in ul li:nth-child(3) {
    position: absolute;
    top: 0px;
    left: 200%;
}
#project_b .monitor_in ul li:nth-child(4) {
    position: absolute;
    top: 0px;
    left: 300%;
}

#project_b .monitor_in img {
    display: block;
    width: 470px;
}

#project_b .project_txt{    
    margin-left: 10px;
    left: 650px;    
    position: absolute;
    width: 450px;
    height:400px;    
}
#project_b .project_txt h3{
    float: left;
    font-size: 24px;
    font-weight: 200;
    margin-left: 10px;
    width: 450px;   
}
#project_b .project_txt .pro_button{    
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 120px;
    height: 30px;
    font-size: 18px;
    background-color: red;
    color: #fff;
    text-align: center;
    line-height: 30px; 
}
#project_b .project_txt p{
    float: left;
    font-size: 14px;
    font-weight: 200;
    margin-left: 10px;
    margin-top: 10px;     
}



/* 메일 */

#mail {  
    width: 100%;
    position: relative;
    border-bottom: 1px solid #EDEDED;
}

#mailtitle {   
    width: 300px;
    height: 120px;
    line-height: 120px;
    border: 2px solid #000;
    position: relative;    
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;   
}

#mailtitle h2 {
    font-size: 50px;
    font-weight: 400;
}

#form {
    position: absolute;
    top: 200px;
    left: 600px;
}

.field {
    margin-bottom: 20px;
}

.field label {
    display: block;
    font-size: 20px;
    color: #000;
}

.field input {
    display: block;
    min-width: 300px;
    line-height: 1.5;
    font-size: 14px;
}

.field:nth-child(3) input {
    display: block;
    min-width: 700px;
    height: 200px;
    line-height: 1.5;
    font-size: 14px;
}

input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    border: none;
}

/* 마무리 */

#end {
    width: 100%;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
}

#end p {
    font-size: 100px;
}

/* 퀵메뉴 */

#q_mn {
    position: absolute;
    width: 50px;
    height: 300px;
    top: 200px;
    right: 50px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 20px;
}

#q_mn .nav {
    width: 50px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#q_mn .nav li {
    width: 30px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    color: #222;       
}

#q_mn .nav li.on2 {
    border-bottom: 1px solid red;
}
